<div class="wrapper-login">
  <div class="lock-icon" [class.unlocked]="lockedIn">

  </div>
  <div class="heading-login">
    <span>KPI</span><br>
    <span>DASH</span><br>
    <span>BOARD</span>
  </div>
  <div class="form-container">
    <ng-container>
    <form [formGroup]="signupForm"  (ngSubmit)="login()">

      <h3>New User Signup</h3>

      <label for="email">Email</label>
      <input type="email" formControlName="email" value="info@wit.de">


      <div *ngIf="email.invalid && email.dirty">
          Your email doesn't look quite right...
      </div>

      <label for="password">Password</label>
      <input type="password" formControlName="password" value="1234567" required>

      <div *ngIf="password.invalid && password.touched" >
        Password must be between 6 and 24 chars and have at least one number
      </div>

      <div *ngIf="signupForm.valid" >Form looks good! Let's do this.</div>

      <button type="submit" [disabled]="!signupForm.valid">Submit</button>


    </form>
  </ng-container>
  </div>
</div>
