<div class="wrapper-login">
  <div class="lock-icon" [class.unlocked]="lockedIn">

  </div>
  <div class="heading-login">
    <span>LITTER</span><br>
    <span>REGISTER</span>
  </div>
  <div class="form-container">
    <form [formGroup]="signupForm"  (ngSubmit)="register()">

      <h3>New User Signup</h3>

      <label for="email">Email</label>
      <input type="email" formControlName="email" >


      <div *ngIf="email.invalid && email.dirty">
          Your email doesn't look quite right...
      </div>

      <label for="name">Username</label>
      <input type="text" formControlName="name" required>

      <label for="password">Password</label>
      <input type="password" formControlName="password" required>

      <div *ngIf="password.invalid && password.touched" >
        Password must be between 6 and 24 chars and have at least one number
      </div>

      <div *ngIf="signupForm.valid" >Form looks good! Let's do this.</div>

      <button type="button" (click)="register()" [disabled]="!signupForm.valid" routerLink="/home" routerLinkActive="active">Submit</button>


    </form>
  </div>
</div>

